.cart_products {
display: flex;
flex-wrap: wrap;
align-items: center;
}

.cart_card {
    margin: 15px;
    height: 570px;
}

#clear{
    margin: 15px;
    width: 100vh;
}

.botton{
    margin-bottom: 10px;
    margin-left: 20px;
}