{% extends 'base.html' %}
{% load static %}
{% block title %}{{product.title}}{% endblock %}
{% block content %}

<a class="btn btn-outline-success" href="{% url 'update-product' product.id %}" role="button">Update</a>
<a class="btn btn-outline-danger" href="{% url 'delete-product' product.id %}" role="button">Delete</a>

<div class="card mb-3" style="margin-top:10%">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{product.image.url}}" alt="there was image" style="weight: auto; height: 300px "  >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <h5>{{product.price}} сом</h5>
          {%if product.status == 'in stock'%}
          <p style="color: green" class="card-text">{{ product.status }}</p>
          <a href="{% url 'cart_add' product.id %}" class="btn btn-success">Add To Cart</a>
          {%elif product.status == 'out of stock'%}
          <p style="color: red" class="card-text">{{ product.status }}</p>
          {%else%}
          <p style="color: yellow" class="card-text">{{ product.status }}</p>
          {%endif%}
      </div>
    </div>
  </div>
</div>
{% endblock %}